@font-face {
  font-family: ayu;
  src: url(./sf-pro-text_regular.woff2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: ayu;
  color: white;
}

#main {
  width: 100%;
  height: 100%;
  background-color: black;
}

#nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 26, 26, 0.51);
  position: fixed;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 40px;
  color: white;
}




#top1 {
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#h11 {
  padding: 10px;
}

#top2 {
  width: 100%;
  height: 50%;
  color: black;
  text-align: center;
  padding: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#top2 h3 {
  padding: 5px;
}





#top3 {
  width: 100%;
  height: 50%;
  color: black;
  text-align: center;
  padding: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#top3 h3 {
  padding: 5px;
}

.btn {
  padding-top: 10px;
}

.btn1 {
  padding: 10px 50px;
  background-color: #50b9f0;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 600;
}

.btn2 {
  padding: 10px 50px;
  background-color: transparent;
  color: #50b9f0;
  border: 1px solod #50b9f0;
  border-radius: 20px;
  font-weight: 600;
}


