@font-face {
  font-family: ayu;
  src: url(./sf-pro-text_regular.woff2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: ayu;
  color: white;
}

#nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(26, 26, 26, 0.51);
  position: s;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

#top1 {
  width: 100%;
  height: 80%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top1 h1 {
  font-size: 50px;
}

#top1 h3 {
  font-size: 30px;
  padding: 10px;
}

button {
  width: 110px;
  height: 40px;
  color: white;
  background-color: #50b9f0;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 15px;
  margin: 0px 20px;
}

#top2 {
  width: 100%;
  height: 100%;
  color: black !important;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top2 h1 {
  font-size: 50px;
}

#top2 h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

#top3 {
  width: 100%;
  height: 100%;
  color: black !important;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_largetall_2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top3 h1 {
  font-size: 50px;
}

#top3 h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
