@font-face {
    font-family: ayu;
    src: url(./sf-pro-text_regular.woff2);
}


*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: ayu;
color: white;
}

#main {
    width: 100%;
    height: 100%;
    background-color: black;
}

#nav{
    padding-left: 150px;
     background-color: rgba(26, 26, 26, 0.51);
    
}

#nav a{
     text-decoration: none;
        font-size: 20px;
        margin-left: 40px;
        color: white;
}

#top1{
    text-align: center;
    padding: 10px;
}
#top1 button{
   
  padding: 10px 50px;
  background-color: #b2a38e;
  border: 7px solid black;
  border-radius: 20px;
  font-weight: 600;

     
}
