* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}

#top1 {
  height: 20%;
  width: 100%;
  background-color: navy;
  font-style: oblique;
  text-align: center;
}

#top1 h1 {
  color: white;
  padding: 20px;
  font-style: oblique;
}

#top1 p {
  color: white;
  padding: 10px;
  font-size: larger;
  font-style: oblique;
}

#top2 {
  text-align: center;
  margin: 5%;
  font-style: oblique;
}

#top2 p {
  font-size: larger;
}

#top3 {
  background-color: skyblue;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  display: block;
  width: 95%;
}

#top4 {
  background-color: peachpuff;
  padding: 30px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
  width: 95%;
}

#top5 {
  background-color: plum;
  padding: 30px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
  width: 95%;
}

#top6 {
  background-color: lightgreen;
  padding: 30px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
  width: 95%;
}

.equal {
  text-align: center;
  font-style: oblique;
}

.equal2 {
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
  width: 600px;
  font-size: larger;
  font-style: oblique;
}
