* {
  margin: 0%;
  padding: 0%;
  font-family: "Helvetica Now Display";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
}

#main {
  height: 100%;
  width: 100%;
  
}

#nav{
    padding: 30px 70px;
}

#nav a {
  color: black;
  font-size: 60px;
  margin: 30px;
  text-decoration: none; 
}

#main>h1{
    font-size: 800px;
    font-weight: 400;
    padding-left: 70px;
}

#btmleft{
    position: absolute;
    bottom: 30%;
    left: 3%;
    width: 300px;
    

}

#btmleft h3{
    font-size: 70px;
    
}


#btmleft h4{
    margin-top: 50px;
    font-size: 50px;
}

#btmleft p{
    font-size: 40px;
    margin-top: 5px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 70px;
    font-size: 30px;

}


    #bottombar a{
        text-decoration: none;
        font-size: 60px;
         color: black;

    } 


    #main>img{
        position: absolute;
        height: 600px;
    } 

    #frist{
        height: 400px !important; 
        top: 40%;
        left: 33%;
    }

    #main #second{
        height: 650px;
        top: 35%;
        left: 44%;
    }

    #third{
        height: 700px !important; 
        top: 55%;
        left: 37%;
    }
     

    

