* {
  margin: 0%;
  padding: 0%;
  font-family: "Helvetica Now Display";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  padding: 30px 70px;
}

#nav a {
  color: black;
  font-size: 60px;
  margin: 70px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#main > h1 {
  font-size: 900px;
  font-weight: 400;
  padding-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

#btmleft {
  position: absolute;
  bottom: 25%;
  left: 3%;
  width: 600px;
}

#btmleft h3 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

#btmleft h4 {
  margin-top: 50px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#btmleft p {
  font-size: 40px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#bottombar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 70px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#bottombar > h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#bottombar a {
  text-decoration: none;
  font-size: 60px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#main > img {
  position: absolute;
}

#third {
  height: 1050px;
  top: 30%;
  left: 44%;
}

#main #second {
  height: 1100px;
  top: 32%;
  left: 57%;
}

#frist {
  height: 950px;
  top: 33%;
  left: 69%;
}
